.idea/
__pycache__
*wcount
*egg-info
data
dist
img/
*.table0
*.table1
*.pyc
*.pkl
*.th
*.swp
*.png
*.dat
*.onnx
*.mat
*.csv
*.state
*.so
*.zip
*.gz
*.nfs
*.vvtk
cifar
*raw
x*
err*
log*
list*
tmp*
emb*
flac
vad
model*
versions
orig
txt/*
txt1
txt2
database
dataset
lexicon/
lst
fea
.condor/
other
build
